/* Added new font to both the header and body. */
header {
    font-family: 'IBM Plex Sans', sans-serif;
    padding: 2%;
}

body {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 16px;
}

/* <textarea> is transparent to show current
time-block. */
/* Vertical resize added to allow user to display
all input easily. */
textarea {
    background: transparent;
    border: none;
    resize: vertical;
    color: #000000;
    padding: 1px;
    width: 100%;
}

h1 {
    font-size: 350%;
    font-weight: 400;
}

hr {
    border: 2px solid black;
}

/* Inpout is transparent to show current
time-block. */
.input {
    white-space: pre-wrap;
    background-color: transparent;
}

/* Rounded out the edges for style. */
.time-block {
    border-radius: 100px;
    height: auto;
}

/* Box shadow for style. */
.row {
    box-shadow: 4px 4px 8px 2px grey;
    height: auto;
    width: 100%;
    padding: 2%;
}

.hour {
    background-color: #ffffff00;
    color: #000000;
}

.past {
    background-color: #ececec;
    color: white;
}
  
.present {
    background-color: #eda489;
    color: white;
}

.future {
    background-color: #a7d7c5;
    color: white;
}
  
.saveBtn {
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    border-bottom-left-radius: 100px;
    border-top-left-radius: 100px;
    background-color: #ffffff00;
    color: rgb(0, 0, 0);
}

.saveBtn span:hover {
    font-size: 30px;
    transition: all 0.1s ease-in-out;
}
